@font-face {
  font-family: "Poppins-Bold";
  src: url("http://127.0.0.1:5500/dist/assets/media/fonts/Poppins/PoppinsLatin-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("http://127.0.0.1:5500/dist/assets/media/fonts/Poppins/PoppinsLatin-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Worksans-Bold";
  src: url("http://127.0.0.1:5500/dist/assets/media/fonts/Worksans/WorkSans-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Worksans-Regular";
  src: url("http://127.0.0.1:5500/dist/assets/media/fonts/Worksans/WorkSans-Regular.ttf")
    format("truetype");
}
