body {
  font-family: monospace;
}

ul {
  padding: 0;
  list-style: none;
}

.fontWhite .menu__link,
.fontWhite .foot__link,
.fontWhite p,
.fontWhite h2 {
  color: white !important;
}

.noSelect * {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.invisible {
  visibility: hidden;
}
